@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* ********************************************************main section css ***************************************************/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: none;
}

.main {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: aquamarine;
}

/* ------------------------------------------------------sidenavbar--------------------------------------------------------------- */

#sidenav {
    position: fixed;
    top: 0;
    left: 0;
    color: aqua;
    height: 100vh;
    min-width: 18%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(40, 39, 39, 0.149);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(25px);
    padding: 10px;
    z-index: 10;
    box-sizing: border-box;
    display: none;

}

#sidenav h1 {
    margin: auto;
    margin-bottom: 0;
    margin-top: 45px;
    color: transparent;
    background-image: linear-gradient(to right, rgb(204, 237, 255), rgb(107, 186, 231), rgb(59, 215, 212), rgb(109, 235, 189), #98f773);
    background-clip: text;
}

#sidenav .hr {
    border-bottom: 1px solid gray;
}

.sidenav_b {
    padding: 20px;
    border-radius: 15px;
}

.sidenav_b:hover {
    background-color: rgba(198, 197, 197, 0.199);
    margin-left: 15px;
    cursor: pointer;

}

.sidenav_b:focus {
    background-color: rgba(198, 197, 197, 0.199);
}

.cross {
    position: absolute;
    font-size: 2rem;
    margin-left: 75%;
    color: gainsboro;
}

.toggle {
    color: rgb(16, 161, 135);
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 2.2rem;
    padding: 10px;
    border-radius: 20%;
    z-index: 10;
    display: none;
}

#toggle {
    z-index: 10;
}

.toggle:hover {
    cursor: pointer;


}

.main_sec {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-size: cover;
    background-image: url("./images/simon-weisser-phS37wg8cQg-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.img {
    height: 90px;
}

.hollow_button {
    color: aquamarine;
    padding: 13px;
    border: 2px solid aquamarine;
    border-radius: 35px;
    padding-left: 40px;
    padding-right: 40px;
    backdrop-filter: blur(10px);
}

.hollow_button:hover {
    background-color: aquamarine;
    color: #000000;
    cursor: pointer;
}

.colorful_button {
    background-color: aquamarine;
    border-radius: 35px;
    padding: 13px;
    padding-left: 35px;
    padding-right: 35px;
    color: black;
    font-weight: 600;
}

.colorful_button:hover {
    background-color: white;
}



/* ------------------------------------------------------navbar section------------------------------------------------------------*/
.navbar {
    position: fixed;
    top: 0;
    width: 98%;
    align-items: center;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    backdrop-filter: blur(5px);
    z-index: 6;
}

.try_it_button {
    margin: 50px;
}

.links {
    display: flex;
    padding: 7px;
    gap: 30px;
    border: 1px solid #555;
    border-radius: 35px;
    height: fit-content;
    backdrop-filter: blur(10px);
    z-index: 6;
}



.nav-links:hover {
    background-color: #313131;
    padding: 12px;
    border-radius: 25px;
}

.nav_switch {
    background-color: #434343;
    padding: 12px;
    border-radius: 25px;
    color: aquamarine;
}



.nav-links {
    padding: 12px;
    color: white;
}

/* ------------------- bg class for elemnt in focus-------------------------- */
.bg {
    color: aquamarine;
    background-color: #313131;
    border-radius: 25px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.before_heading {
    height: 20px;
    font-size: x-large;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 160px;
    opacity: 50%;
}

.heading {
    margin: 0px;
    height: 110px;
    font-size: 7rem;
    color: white;
    animation: fade 2s linear;

}

@media (prefers-reduced-motion: no-preference) {
    .heading {
        transition: opacity 3.5s ease, transform 3.5s ease;
    }
}



@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
}


.first_line {
    margin-top: 40px;
}

.main-description {
    font-weight: 500;
    font-size: large;
    color: rgb(255, 255, 255);

}



/* ---------------------------plans section in main ssection------------------ */
.plans {
    width: 98%;
    padding-top: 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.plan_heading {
    margin: 0px;
}

.plan1,
.plan2,
.plan3 {
    text-align: center;
}

.hr1 {
    margin: 20px;
}

.plan_description {
    font-size: large;
}

.last {
    margin-bottom: 40px;
}

.last_content_of_main_sec {
    margin: 100px;
    font-size: large;
}

/* **********************************************************section _2 css *******************************************************************/
.sec_2 {
    background-color: rgb(11, 12, 16);
    height: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    overflow: hidden;

}



@media (prefers-reduced-motion: no-preference) {
    .sec2_heading {
        transition: opacity 3.5s ease, transform 3.5s ease;
    }

    .sec-2_sub_head {
        transition: opacity 3.5s ease, transform 3.5s ease;
    }

    .sec-2_description {
        transition: opacity 3.5s ease, transform 3.5s ease;
    }
}

.sec2_heading {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 4rem;
    opacity: 0;
    transform: translate(300px);
    overflow: hidden;
}

.sec-2_sub_head {
    margin: 0;
    opacity: 0;
    transform: translate(300px);
    overflow: hidden;
    font-size: 3rem;
}

.sec-2_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    opacity: 0;
    transform: translate(300px);
    overflow: hidden;
}

.sec_2animation {
    opacity: 1;
    transform: none;
}

/* ********************************************************section _3 ******************************************************************/

.sec_3 {
    margin: 0px;
    background-image: url("./images/29797\(2\).jpg");
    background-size: cover;
    height: 700px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec3_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    opacity: 0;
    transform: translate(-300px);
    overflow: hidden;
}

.sec3-main_head {
    font-size: 5rem;
    text-align: center;
    margin: 0;
    color: transparent;
    background-image: linear-gradient(90deg, #780206 0%, #061161 100%);
    background-clip: text;
    /* 
    linear-gradient(to right, rgb(204, 237, 255), rgb(147, 215, 255), rgb(81, 228, 226), rgb(109, 235, 189), #98f773); */
}

.sec3_heading {
    opacity: 50%;
}

@media (prefers-reduced-motion: no-preference) {
    .sec3_content {
        transition: opacity 3.5s ease, transform 3.5s ease;
    }
}

.sec3animation {
    opacity: 1;
    transform: none;
}

/**************************************************section-4*********************************************************** */
.sec4 {
    background-color: #0e061e;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    overflow: hidden;
}

.sec4-head {
    color: white;
    font-size: 4rem;
    margin: 0;
    margin-top: 30px;
    color: transparent;
    background-image: linear-gradient(to right, rgb(204, 237, 255), rgb(147, 215, 255), rgb(81, 228, 226), rgb(109, 235, 189), #98f773);
    background-clip: text;
}

.sec4-sub-head {
    font-size: larger;
    opacity: 50%;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    margin-bottom: 80px;
}

/* ----------------------------------------------sectionn 4 first box -----------------------------------------*/
.sec4_content1 {
    background-image: url("./images/sec.jpg");
    background-size: cover;
    height: max-content;
    padding: 20px;
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.sec-4_sub_head {
    margin-top: 60px;
    color: white;
    opacity: 50%;
    opacity: 0;
    transform: scale(1.5);
    overflow: hidden;
}

.sec4_head {
    color: white;
    font-size: 6rem;
    margin: 0;
    opacity: 0;
    transform: scale(1.5);
    overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {

    .sec4_head,
    .sec-4_sub_head {
        transition: opacity 3s ease, transform 3s ease;
    }
}

.fade {
    opacity: 1;
    transform: none;
}

/* redeclared for opacity transition */
.sec-4_sub_head {
    opacity: 50%;
}

/* ------------------------------------------sectionn-4 second box -----------------------------------------*/
.sec4_content2 {
    margin-top: 100px;
    background-image: url("./images/headphones1.jpg");
    border-radius: 65px;
    background-size: cover;
    padding: 20px;
    height: 600px;
}

.content2_subhead {
    color: white;
    opacity: 50%;
    margin-top: 50px;
    margin-left: 50%;
}

.content2_head {
    margin: 0;
    margin-left: 50%;
    font-size: 5.5rem;
    overflow: hidden;
}

/* ----------------------------------------sectionn 4 third box------------------------------------------------- */
.sec4_content3 {
    background-image: url("./images/man-with-guitar-darkness.jpg");
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 65px;
    background-size: cover;
    padding: 20px;
    height: 600px;
    overflow: unset;
}

.content3_subhead {
    margin-top: 60px;
    color: white;
    opacity: 50%;
    opacity: 0;
    transform: scale(1.5);
    overflow: hidden;
}

.content3_head {
    color: white;
    font-size: 6rem;
    margin: 0;
    opacity: 0;
    transform: scale(1.5);
    overflow: hidden;
}

.fade_1 {
    opacity: 1;
    transform: none;
}

.content3_subhead {
    margin-top: 160px;
    opacity: 50%;
    overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {

    .content3_subhead,
    .content3_head {
        transition: opacity 3s linear, transform 3s linear;
    }
}

/* *******************************************************section5********************************************************** */
.section5 {
    color: white;
    background-color: #222;
    padding: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.sec5_content {
    background-color: transparent;
    background-image: url("./images/headjphones2.jpg");
    border-radius: 65px;
    border-radius: 65px;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.section5_head {
    font-size: 5.5rem;
    margin: 0px;
}

.second {
    color: transparent;
    background-image: linear-gradient(to right, rgb(204, 237, 255), rgb(147, 215, 255), rgb(81, 228, 226), rgb(109, 235, 189), #98f773);
    background-clip: text;
}

.sec5_devices {
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    margin-top: 100px;
}

.devices {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* -----------------------------------coupen section----------------------------------------- */
.coupen_section {
    margin: 0px;
    height: 500px;
    color: white;
    background-color: #111;
    padding: 70px;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    box-sizing: border-box;


}

.coupen_section img {
    width: 550px;
}

.coupen_description {
    width: 400px;
}



/****************************************************countact us section----------------------------------- */

.contactsection {
    color: white;
    background-color: #222;
    padding: 100px;
    padding-bottom: 20px;
    text-align: center;
}

.contacus {
    padding: 25px;
    width: 100%;
    display: grid;
    text-align: left;
    grid-template-areas: ' head head contact services links'
        ' head head contact services links'
        ' head head contact services links'
        ' head head contact services links'
        ' head head contact services links'
        ' head head contact services links';
    column-gap: 10px;

}

.contactus_head {
    grid-area: head;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.contactus_info {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.contactus_services {
    grid-area: services;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactus_quicklinks {
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact_head_head {
    color: transparent;
    background-image: linear-gradient(to right, #89f7fe 0%, #1a0430 37%);
    background-clip: text;
    margin: 0;
}

.emoji {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* -------------------------------------------footer--------------------------------------------------- */
.copyright {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width:1300px) {
    .sec4_content2 {
        text-align: center;
    }

    .content2_subhead {
        color: white;
        opacity: 50%;
        margin-top: 50px;
        margin-left: 0;
    }

    .content2_head {
        margin: 0;
        font-size: 5.5rem;
    }

    .sec5_devices {
        display: flex;
        justify-content: space-around;
        font-size: 3rem;
        margin-top: 0px;
    }

    .coupen_section img {
        width: 500px;
    }

    .coupen_description {
        width: 400px;
    }
}

@media (max-width:1060px) {
    .sec5_content {
        padding: 50px;
    }

    .section5_head {
        font-size: 4rem;
    }

    .sec5_devices {
        display: flex;
        justify-content: space-around;
        font-size: 1.5rem;
        margin-top: 30px;
    }

    .coupen_section img {
        width: 400px;
    }

    .coupen_description {
        width: 350px;
    }
}

@media (max-width:999px) {

    .links {
        display: none;
    }

    .toggle {
        display: block;
    }

    .content3_head {
        font-size: 4rem;
    }

    .sec4_head {
        font-size: 4rem;
    }

    .Unique {
        font-size: 11px;
        padding: 15px;
    }

    .coupen_section img {
        width: 300px;
        margin: auto;
    }

    .coupen_description {
        width: 400px;
    }
}

@media (max-width:820px) {


    .content3_head {
        font-size: 4rem;
    }

    .sec4_head {
        font-size: 4rem;
    }

    .sec4 {
        padding: 30px;
    }

    .section5 {
        padding: 30px;
    }

    .Unique {
        font-size: 11px;
        padding: 15px;
    }

    .coupen_section {
        max-width: 820px;
    }

    .coupen_hr {
        max-width: 350px;
        height: 1px;
        border-bottom: 1px solid gray;
    }

    .coupen_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 820px;
        height: auto;
        padding: 30px;
    }

    .coupen_description {
        width: auto;
        margin: auto;

    }

    .contactsection {
        padding: 20px;
        box-sizing: border-box;
    }

    .contacus {
        width: auto;

        gap: 10px;
    }
}

@media (max-width:690px) {
    .heading {
        font-size: 5.5rem;
    }

    .main-description {
        text-align: center;
    }

    .colorful_button {
        padding: 15px;
    }

    .plans {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .hr1 {
        border-bottom: 1px;
        width: auto;
    }
}

@media (max-width:530px) {


    .toggle {
        display: block;
        font-size: 1.8rem;
        margin-top: -10px;
    }

    .hollow_button {
        font-size: 0.8rem;
        padding: 7px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .colorful_button {
        padding: 8px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #sidenav {
        display: none;
    }

    .navbar {
        height: 50px;
        max-width: 530px;
        display: flex;
    }

    .main_sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        overflow: hidden;
    }

    .heading {
        margin: 0px;
        height: 60px;
        font-size: 4rem;

    }


    .logo {
        margin-left: 15%;

    }

    .main-description {
        font-size: 0.7rem;
    }

    .plans {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .hr1 {
        border-bottom: 0.1px;
    }

    /*  section 2 */
    .sec_2 {
        padding: 5px;
        text-align: center;
    }

    /*  section 3 */
    .sec_3 {
        text-align: center;
        background-size: cover;
        background-position-x: 700px;
    }

    .sec3_content {
        text-align: center;
        width: auto;
    }

    .sec3-main_head {
        background-image: linear-gradient(90deg, #da4453 0%, #0b0008 90%);
        font-size: 3.5rem;

    }

    /*  section 4 */
    .sec4 {
        padding: 10px;
    }

    .sec4-head {
        font-size: 3rem;
    }

    .sec4-sub-head {
        margin: 20px;
        margin-bottom: 50px;
    }

    /* section4 content 2 */
    .sec4_content2 {
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-position: -220px;
    }

    .content2_head {
        margin: 0;
        font-size: 3.2rem;
    }

    .content2_subhead {
        margin: 0;
    }

    /* section4 content 3 */
    .sec4_content3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 300px;
        background-position: -100px;
    }

    .content3_subhead {
        margin: 0;
    }

    /* section5  */
    .section5 {
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-position: -200px;
    }

    .sec5_content {
        padding: 15px;
        height: auto;
    }


    /*  coupen section */
    .img {
        max-width: 50px;
    }

    .coupen_section {
        max-width: 530px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }

    .coupen_description {
        width: auto;
        text-align: left;
    }

    .contactsection {
        padding: 1%;
        overflow: hidden;
        font-size: 0.8rem;
    }

    .contacus {
        grid-template-areas: 'head  contact '
            'head  contact '
            'head  contact '
            'head  contact '
            'head  contact '
            'head  contact '
            'services links'
            'services links'
            'services links'
            'services links'
            'services links'
            'services links'
        ;
        row-gap: 20px;
        column-gap: 15px;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        margin: 0;
        padding: 0%;
    }
}